
#main{
    font-family: "Times New Roman", Times, serif;
    margin-left:auto;
    margin-right: auto;
    margin-top:20vh;
    width: 50%;
    background-color: rgba(255, 145, 0,0.7);
    color: white;
    border: 1.5px solid rgba(255, 145, 0,0.7);
    border-style: hidden;
    border-radius: 9px;
    outline: none;
    height: 60vh;
}


li{
    font-size: 24px;
    font-weight: bolder;
}



/*Main search*/
.msearch-bar{
    
    font-family: "Times New Roman", Times, serif;
    margin-top: 1vh;
    margin-left:15%;
    border-style: none;
    border-radius: 5px;
    height: 7vh;
    width: 70%;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    

}


.mbtn{
    margin-top: 1vh;
    height: 7.1vh;
    width: 12%;
    border-style: none;
    
    border-radius: 5px;
}



.search-bar{
    
    font-family: "Times New Roman", Times, serif;
    margin-top: 5vh;
    margin-left:15%;
    border-style: none;
    border-radius: 5px;
    height: 7vh;
    width: 40%;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    

}


.btn{
    margin-top: -5px;
    height: 7.3vh;
    width: 8%;
    border-style: none;
    
    border-radius: 5px;
}


.mplace{
    margin-top: 2vh;
    margin-left: 15%;
    font-size: 20px;
}
.mtemp{
    margin-top: 2vh;
    margin-left: 15%;
    font-size: 24px;
}
.mpic{
    display: flex;
    align-items: center;
   
}
.micon{
    margin-top: 5vh;
    margin-left: 14%;
    font-size: 20px;
    
    
}
.mdescription{
    margin-top: 5.5vh;
    margin-left: 2%;
    font-size: 20px;
}
.mhumidity{
    margin-top: 1.5vh;
    margin-left: 15%;
    font-size: 20px;
}
.mwind{
    margin-top: 1.5vh;
    margin-left: 15%;
    font-size: 20px;
}








/*menu2 css*/

#main2{
    margin-top: 12vh;
}
.temp{
    margin-top: 2vh;
    margin-left: 15%;
    font-size: 24px;
    font-weight: bolder;
}
.pic{
    display: flex;
    align-items: center;
   
}
.icon{
    margin-top: 5vh;
    margin-left: 14%;
    font-size: 20px;
    
    
}

.f{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: none;
    border-radius: 5px;
    background-color: rgba(240, 138, 70, 0.5);
    margin-top: 2vh;
    
}
.dt{
    margin-top: 4vh;
    margin-left: 8%;
    width: 50px;
    background-color: rgba(240, 138, 70, 0);
    font-weight: bold;
}
 .desc, .temp{
    margin-top: 4vh;
    margin-left: 8%;
    width: 50px;
    background-color: rgba(240, 138, 70, 0);
}
.feel{
    margin-top: 4vh;
    margin-left: 8%;
    width: 50px;
    background-color: rgba(240, 138, 70, 0);
    width: 8%;
    font-family: 'Raleway', sans-serif;


    
}
.forecast div img{
    margin-left: 5%;
    
    margin-top: 2vh;
}

.dt {
    display: flex;
    flex-direction: column;
    
}
.time{
    margin: 0px;
}
.date{
    margin: 0px;
}
.rain{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 8%;
    margin-right: 10%;
}
.drop{
    margin-top: 2vh;
}
.prec{
    margin-left: 30%;
    margin-top: 2vh;
    width: 8px;
    font-weight: 200;
}



/*aqi*/



#aqidiv{
    margin-top: 12vh;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150, 148, 148, 0.7);
    color: black;
    border-radius: 10px;
    
    padding-top: 6vh;
}
#aqi{
    padding-left: 0px;
   text-align: center;
   font-size: 28px;
   font-weight: bolder;
   margin-bottom: 2vh;
   
}

.quality{
    padding-left: 25%;
    margin-top: 1.2vh;
    font-size: 20px;
    
}

